.card-body {
    padding: 20px;
    background-color: #425480;
    color: white;
    border-radius: 15px;
}

h2 {
    font-weight: bold;
    color: #333;
}

.custom-card {
    min-height: 350px;
}

.card-div{

    min-width: 310px;
}

.custom-card img,
.custom-card h5 {
    margin-bottom: 15px;
}

.custom-card .btn {
    margin-right: 10px;
    width: calc(45%);
}

.buttons{
    display: flex;
    width: 100%;
}